In [10]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_excel("personas.xlsx")

In [12]:
df.head()

      Nombre   X1  X2  Y
0       Luis  400  20  0
1  Francisco  450  35  0
2      Maria  500  25  0
3     Alvaro  600  15  0
4    Soledad  600  30  0

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [17]:
np.random.seed(1234)

In [18]:
x=df[['X1','X2']]
y=df['Y']

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [20]:
#modelo creado
nbc=GaussianNB()

In [21]:
#entrenar
nbc.fit(x_train,y_train)

GaussianNB(priors=None)

In [22]:
y_prec=nbc.predict(x_test)

In [23]:
accuracy_score(y_test,y_prec)

1.0

In [24]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_prec)

array([[5, 0],
       [0, 2]], dtype=int64)

In [25]:
nbc.predict([[650,41],[1300,20]])

array([0, 1], dtype=int64)