In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel("personas.xlsx",index_col="Nombre")
df.head()

            X1  X2  Y
Nombre
Luis       400  20  0
Francisco  450  35  0
Maria      500  25  0
Alvaro     600  15  0
Soledad    600  30  0

In [5]:
x1_media=df['X1'].mean()
x2_media=df['X2'].mean()

In [6]:
x1_max=df['X1'].max()
x2_max=df['X2'].max()

In [7]:
df['x1_cat']= pd.cut(df['X1'],bins=[0,x1_media,x1_max],labels=['Pobre',"Rico"])

In [10]:
df['x2_cat']= pd.cut(df['X2'],bins=[0,x2_media,x2_max],labels=['Joven',"Viejo"])

In [11]:
df.head()

            X1  X2  Y x1_cat x2_cat
Nombre
Luis       400  20  0  Pobre  Joven
Francisco  450  35  0  Pobre  Joven
Maria      500  25  0  Pobre  Joven
Alvaro     600  15  0  Pobre  Joven
Soledad    600  30  0  Pobre  Joven

In [14]:
df["x1_bool"]=df["x1_cat"].cat.codes
df["x2_bool"]=df["x2_cat"].cat.codes

In [17]:
from sklearn.model_selection import train_test_split
np.random.seed(1234)
x=df[["x1_bool","x2_bool"]]
y=df["Y"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [13]:
from sklearn.naive_bayes import BernoulliNB

In [16]:
df.head()

            X1  X2  Y x1_cat x2_cat  x1_bool  x2_bool
Nombre
Luis       400  20  0  Pobre  Joven        0        0
Francisco  450  35  0  Pobre  Joven        0        0
Maria      500  25  0  Pobre  Joven        0        0
Alvaro     600  15  0  Pobre  Joven        0        0
Soledad    600  30  0  Pobre  Joven        0        0

In [18]:
NBB=BernoulliNB(binarize=None)

In [19]:
NBB.fit(x_train,y_train)

BernoulliNB(alpha=1.0, binarize=None, class_prior=None, fit_prior=True)

In [20]:
y_pred =NBB.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score,recall_score,precision_score,cohen_kappa_score,confusion_matrix

In [23]:
CM= confusion_matrix(y_test,y_pred)
CM

array([[4, 1],
       [0, 2]], dtype=int64)

In [26]:
tn,fp,fn,tp=CM.ravel()
TN=CM[0][0]
FP=CM[0][1]
FN=CM[1][0]
TP=CM[1][1]

In [30]:
acc=accuracy_score(y_test,y_pred)
vpr=recall_score(y_test,y_pred)
ppv=precision_score(y_test,y_pred)
spc= TN/(TN+FP)
bac=(vpr+spc)/2
print(acc,vpr,ppv,spc,bac)

0.8571428571428571 1.0 0.6666666666666666 0.8 0.9